:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
    font-size: 16px;
}

body {
    margin: 3rem 0 0 0;
    font-family: 'Georgia', serif;

}

.main-body {
    padding: 1rem;
    max-width: 800px;
    width: 100%;
    max-width: 820px;
}

h1 {
    margin-bottom: 1rem;
    font-family: HoeflerText-Regular, 'Georgia', serif;
    font-size: 3rem;
}

h3 {
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-family: HoeflerText-Regular, 'Georgia', serif;
}

h4, h5, h6 {
    margin-bottom: 1rem;
    font-family: HoeflerText-Regular, 'Georgia', serif;
}

.metadata {
    font-size: 0.85rem;
    color: #555;
    font-family: var(--system-ui);
}

/* figures */
figure {
    margin: auto;
    margin-bottom: 2rem;
    position: relative;
}

figure img {
    width: 100%;
    display: block;
    margin: auto;
    padding: 10px 0px 10px 0px;
}

aside figure {
    margin-bottom: 0rem;
    margin-top: 1rem;
}

figcaption {
   font-family: var(--system-ui);
   font-style: italic;
   color: #888;
}

img {
    text-align: center;
    /* max-width: 100%; */
}

.full-width-container {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  padding: 0.5rem;
}

/* select {
    display: none !important;
} */

.refs {
    padding: 0.1rem 0 5rem 0;
    background-color: #eee;
    /* padding-bottom: 5rem; */
}

button p {
    color: #000;
}

aside {
    width: 20rem;
    margin: 0 -22rem 0 0;
    padding: 0 1rem 0 1rem;
    float: right;
    color: #000;
    font-size: 14px;
}

.fn-img {
    padding: 0 !important;
    width: 100% !important;
}

.cover-img-container {
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.int-img-label {
    color: white;
    background-color: rgb(46, 98, 253);
    border-radius: 5px;
    padding: 3px
}

.fn-text {
    width: 220px !important;
    float: left;
    width: 15rem;
    margin-left: -15rem;
}

.circle-pic {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    display: inline-block;
    vertical-align: middle;
    margin: 0.5rem 1rem 0.5rem 0rem;
}

/* .school-name {
    position: absolute;
    bottom: 0rem;
} */

.footer {
  font-family: var(--system-ui);
  margin-bottom: 1rem;
}

.author-col {
    margin: 0 0 0.5rem 0;
}

.facepile {
    margin: 1rem 0 1rem 0;
}

.uw {
    color: #7632ff;
}

.independent {
    color: #000;
}

.ux-selector > .card, .template-selector > .card {
  user-select: none;
  cursor: pointer;
}
.ux-selector > .card:hover {
  border-color: #007bff!important;
}
.ux-selector > .card:focus {
  border-color: #007bff!important;
  box-shadow: 0px 0px 5px 0px #007bff;
}

.template-selector > .card:hover {
  border-color: #229F90!important;
}
.template-selector > .card:focus {
  border-color: #229F90!important;
  box-shadow: 0px 0px 5px 0px #229F90;
}

.h-carousel {
  white-space: nowrap;
  overflow-x: auto;
  margin-bottom: 1rem;
}

.h-carousel > .card {
  display: inline-block;
  white-space: initial; /** reset whitespace **/
  margin: 1rem 0;
}
.h-carousel-row, .padded-row {
  position: relative;
  padding: 0 15px;
}
.h-carousel-row::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2rem;
  background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
  z-index: 100;
}

.h-carousel-row::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2rem;
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
  z-index: 100;
}

.v-cloud {
  height: 10rem;
  border: 2px dashed #ddd;
  border-radius: 0.25rem;
  margin: 0 0 1em 0;
  text-align: center;
  background-color: #eee;
}

.case-card {
  min-width: 25rem;
  margin: 0rem 0.5rem 0rem 0.5rem !important;
  font-family: var(--system-ui);
  color: #888;
  align-self: stretch;
}

.quote-text {
  font-style: italic;
  color: #888;
}

.dimension-card {
  min-width: 14rem;
  margin: 0rem 0.5rem 0rem 0.5rem !important;
  align-self: stretch;
}

.margin-tb-1 {
  margin: 1rem 0 1rem 0;
}

.template-button {
  max-width: 15rem;
  margin: 0 1rem 1rem 0;
  font-family: var(--system-ui);
  color: #888;
}

.template-wrapper {
  display: flex;
  flex-flow: row wrap;
}

#dimensions-placeholder, #dimensions-display {
  font-family: var(--system-ui);
}

#case-select, #dimensions-display {
  padding: 0 0 0.5rem 0;
}

.card-title, .card-header {
  font-family: 'Inconsolata', monospace;
  color: #000;
}

.case-icon {
  width: 75px;
  margin: 1rem 0 0 1rem;
}

.placeholder-text {
  color: #aaa;
  margin-top: 1rem;
  font-style: italic;
}

#dimension-selector, #level-selector {
  font-family: var(--system-ui);
}

.generation-area, #templated-response {
  font-family: var(--system-ui);
}

.bot-profile-wrapper {
  align-items: center;
  text-align: center;
}

.chat-ui-wrapper {
  padding: 2rem;
  background-color: #eee;
}

.team-info {
  font-family: var(--system-ui);
}

.header-label {
  color: #aaa;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .spacer {
    display: none;
  }
}

