@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 199 89% 48%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --success: 160, 84%, 39%;
    --success-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 201 96% 32%;
    --primary-foreground: 210 40% 98%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --success: 161, 94%, 30%;
    --success-foreground: 210 40% 98%;

    --warning: 48 96% 89%;
    --warning-foreground: 38 92% 50%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

.cl-footer {
  display: none;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.border-track {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  --border-size: 0.1rem;
  border: var(--border-size) solid transparent;
  background-image: linear-gradient(to right, theme("colors.background"), theme("colors.background")),
    conic-gradient(
      from var(--angle),
      theme("colors.border") 0deg 90deg,
      theme("colors.border") 90deg 180deg,
      theme("colors.border") 180deg 270deg,
      theme("colors.primary.DEFAULT") 270deg 360deg
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  animation: rotate 6s linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

.radix-tooltip-content {
  width: 300px;
  white-space: normal; /* Allows text to wrap to the next line */
}
